:root {
    --color1: #202426;
    --color2: #6C733D;
    --color3: #9DA65D;
    --color4: #8C8C88;
    --color5: #F2F2F2;
    --color6: #ddd;
    --font: "Poppins";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    font-family: var(--font);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color5);
}

.navbar-container nav,
ul .navbar-logo li,
.navbar-items,
ul li,
a img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: var(--color1);
}

.navbar-logo img {
    width: 75%;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 2px;
}

.navbar-logo img:hover {
    width: 75%;
    border: 1px solid var(--color5);
    border-radius: 6px;
    padding: 2px;
}

.navbar-items li {
    padding-left: 15px;
    font-size: 18px;
}

.navbar-items a {
    cursor: pointer;
}

.navbar-items a:hover {
    text-decoration: underline;
}

@media (max-width: 560px) {
    .navbar-container {
        padding-left: 60px;
        padding-right: 60px;
    }

    @media (max-width: 460px) {
        .navbar-container {
            padding-left: 40px;
            padding-right: 40px;
        }

        .navbar-items li {
            font-size: 16px;
        }
    }

    @media (max-width: 400px) {
        .navbar-container {
            padding-left: 40px;
            padding-right: 40px;
        }

        @media (max-width: 380px) {
            .navbar-items li {
                font-size: 13px;
            }

            .navbar-container {
                padding-left: 10px;
                padding-right: 10px;
            }

            @media (max-width: 300px) {
                .navbar-items li {
                    font-size: 12px;
                }

                .navbar-container {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}